* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "vazir";
    src: url("font/Vazir-Regular.ttf");
}

body {
    font-family: vazir;
}

.main-container {
    max-width: 1350px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    margin-right: auto;
    margin-left: auto;
}

.menubar {
    width: 100%;
    height: 110px;
    background-color: rgba(25, 25, 25, 0.9);
    display: flex;
    justify-content: space-around;
}

.mynavbar li {
    padding: 5px 10px;
}

.mynavbar li a {
    padding: 5px;
    color: aliceblue;
    transition: 0.3s;
}

.mynavbar li a:hover {
    color: #d40305;
}

.search-input {
    width: 250px;
    height: 40px;
    padding-right: 5px;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    border: 0px;

}

.search-btn {
    outline: none;
    height: 40px;
    border: 1px;
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;
    background-color: #d40305;
    transition: 0.3s;
    color: aliceblue;
}

.search-btn:hover {
    outline: none;
    background-color: #ad0303;
}

.wellcome-header {
    width: 100%;
    height: 100vh;
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wellcome-inner {
    text-align: center;
    color: aliceblue;
    display: block;
}

.wellcome-inner h1 {
    font-size: 50px;
    width: 600px;
    font-weight: bold;
    margin: auto;
    padding: 10px 20px;
    background-color: rgba(25, 25, 25, 0.6);
    border-radius: 5px;
}

.wellcome-inner p {
    width: 700px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px auto;
    background-color: rgba(25, 25, 25, 0.6);
}

.order-btn {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #d40305;
    color: aliceblue;
}

.order-btn:hover {
    background-color: #ad0303;
    color: aliceblue;
}

.title-about {
    position: relative;
    margin-bottom: 30px;
}

.title-about:after {
    content: "";
    background-color: #d40305;
    position: absolute;
    width: 100px;
    height: 10px;
    right: 0px;
    bottom: -20px;
}

.service-section {
    width: 100%;
    min-height: 300px;
    background-image: url('../img/service-img2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 20px auto;
}

.service-section-title {
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
    padding: 20px 0px;
}

.service-section-title h2 {
    width: 370px;
    background-color: rgba(25, 25, 25, 0.8);
    margin: 30px auto 15px;
    padding: 10px 15px;
    color: aliceblue;
    border-radius: 5px;
}

.service-section-title p {
    width: 450px;
    color: aliceblue;
    background-color: rgba(25, 25, 25, 0.8);
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
}

.card-service {
    width: 99%;
    min-height: 250px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(212, 3, 5, 0.6);
    transition: 0.4s;
}

.card-service:hover {
    box-shadow: 0 0px 15px 5px rgba(212, 3, 5, 0.6);
}

.card-service img {
    width: 40%;
    height: auto;
}

.card-service h4 {
    font-weight: bold;
    color: aliceblue;
    margin: 15px auto;
}

.card-service p {
    color: aliceblue;
    font-weight: lighter;
}

.menu-food-header {
    padding: 20px;
    text-align: center;
}

.menu-food-header h1 {
    position: relative;
    width: fit-content;
    margin: auto;
}

.menu-food-header h1:after {
    content: "";
    background-color: #d40305;
    position: absolute;
    width: 80px;
    height: 10px;
    right: 0px;
    bottom: -20px;
}

.menu-food-header p {
    width: 600px;
    margin: 30px auto 10px;
}
.nav-tabs{
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.container-food{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.tab-content > .active{
    display: flex;
}
.list-of-food{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}
.content-list-menu{
    padding: 10px;
    width: 97%;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.content-list-menu img{
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    border-radius: 3px;
}
.detail-food{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}
.detail-food-title{
    width: 100%;
    height: fit-content;
    display: block;
    padding: 0px 10px;
}
.cost-food{
    height: fit-content;
    font-size: 13px;
    padding: 5px;
    color: rgb(25, 25, 25);
    font-weight: bold;
}
.cost-food ,.detail-food-title h4{
    margin-bottom: 0px;
}
.food-detail-txt{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: justify;
}

.detail-food-footer{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
    padding-top: 5px;
    border-top: 1px solid #ccc;
}

.add-cart-btn{
    color: #66cc00;
    outline: none;
    border: 1px solid #66cc00;
    background-color: #fff;
    width: 30px;
    border-radius: 3px;
    height: 28px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}
.add-cart-btn:hover{
    background-color: #66cc00;
    color: aliceblue;
    outline: none;
}

.cart-section{
    height: 442px;
    background-color: #eee;
    padding: 0px;
    box-shadow: 0 0px 15px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.cart-section-title{
    width: 100%;
    text-align: center;
    padding: 5px;
    color: rgba(25, 25, 25, 0.9);
}
.cart-section-title img{
    width: 40px;
    height: auto;
}
.cart-section-content{
    width: 94%;
    height: 380px;
    display: flex;
    flex-flow: wrap row;
    background-color: #fff;
    margin: 6px auto;
    overflow-y: scroll;
}
.detail-food-selected{
    width: 100%;
    height: 90px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    margin-bottom: 4px;
    border-bottom: 1px solid #ccc;
}
.food-selected-part1 ,.food-selected-part2{
    width: 95%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
}
.food-selected-part1 input{
    width: 40px;
}
.price-total{
    width: 95%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: #6f42c1;
}

.cart-section-empty{
    display: none;
    height: 380px;
    width: 94%;
    justify-content: center;
    margin: 6px auto;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}
.cart-section-empty p{
    margin-bottom: 0px;
}
.header-gallery{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
}
.header-gallery img{
    width: 100px;
    height: auto;
}
.header-gallery h1 {
    position: relative;
    width: fit-content;
    margin: 20px auto 30px; 
}

.header-gallery h1:after {
    content: "";
    background-color: #d40305;
    position: absolute;
    width: 90px;
    height: 10px;
    right: 0px;
    bottom: -20px;
}
.header-gallery p{
    font-size: 15px;
    width: 750px;
    margin: 5px auto;
}

.port-sec{
	width: 100%;
	height: auto;
}
.btn-filter{
    margin: 5px auto 20px;
}
.filter{
	background-color: #d40305;
	color: aliceblue;
	padding: 10px 23px;
	border: 0px;
	border-radius: 3px;
	transition: 0.4s all;
    outline: none;
}
.filter:hover{
	background: #ad0303;
	color: aliceblue;
	cursor: pointer;
    outline: none;
}
.btn-filter .active{
	background: #ad0303;
	color: aliceblue;
}
.filter-img img{
	width: 90%;
	height: auto;
	margin: auto 5%;
	border-radius: 3px;
}

.weblog-section-content-card img{
    width: 96%;
    height: auto;
    margin: auto 2%;
    text-align: center;
}
.weblog-section-content-inner{
    width: 90%;
    height: auto;
    margin: auto;
}
.weblog-section-content-inner a{
    text-decoration: none;
    font-size: 20px;
    color: rgba(25, 25, 25, 0.8);
}
.weblog-section-content-inner p{
    color: rgba(25, 25, 25, 0.8);
    margin: 10px auto;
    font-size: 15px;
}
.show-more-btn{
    float: left;
    margin: 20px 10px;
}
.show-more-btn a{
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #d40305;
    color: aliceblue;
    text-decoration: none;
}
.nav-info{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 10px auto 2px;
}
.nav-info li{
    font-size: 13px;
    color: #757575;
}

.footer-section{
    height: auto;
    background-color: rgba(25, 25, 25, 0.9);
    margin-top: 30px;
}
.footer-section-inner{
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
}
.footer-section-inner > div > h4{
    margin: 20px 0px;
    color: aliceblue;
}

.about-marco-footer p{
    font-size: 15px;
    color: aliceblue;
}
.about-marco-footer ul{
    list-style: none;
    display: flex;
    margin-top: 30px;
}
.about-marco-footer ul li a{
    font-size: 20px;
    color: aliceblue;
    background-color: #d40305;
    border-radius: 30px;
    padding:2px 8px;
    margin-left: 5px;
}
.footer-menu li{
    margin-top: 5px;
    margin-right: 10px;
}
.footer-menu li a{
    text-decoration: none;
    display: block;
    transition: 0.3s;
    color: aliceblue;
}
.footer-menu li a:hover{
    margin-right: 5px;
    color: #d40305;
}
.copy-right{
    background-color: #d40305;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
}
.copy-right p{
    color: aliceblue;
    margin-bottom: 0px;
}

@media screen and (max-width: 990px) {
    .about-section {
        text-align: center;
    }

    .title-about {
        width: 304px;
        margin: 20px auto 40px;
    }
}