.form-section {
    width: 100%;
}

.send-comment-title {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 20px;
}

.send-comment-title img {
    width: 100px;
    height: auto;
}

.send-comment-title h1 {
    position: relative;
    width: fit-content;
    margin: 20px auto 30px;
}

.send-comment-title h1::after {
    content: " ";
    position: absolute;
    background-color: #d40305;
    height: 8px;
    width: 70px;
    bottom: -15px;
    right: 0;
}

.send-comment-title p {
    margin-top: 25px;
}

.send-comment-form {
    width: 85%;
    display: inline-block;
    margin: 0px 7.5%;
}

.send-comment-form-row {
    width: 95%;
    margin: 10px auto;
    text-align: center;
}

.send-comment-form-row input {
    width: 28%;
    height: 40px;
    margin: 13px;
    border-radius: 20px;
    outline: none;
    padding-right: 15px;
    font-size: 16px;
    border: 1px solid #e2e2e2;
    transition: 0.3s;
}

.send-comment-form-row input:focus,
.send-comment-form textarea:focus {
    border: 1px solid #00a4ae;
    box-shadow: 0px 0px 5px 0.5px #00a4ae;
}

.send-comment-form textarea {
    width: 93%;
    transition: 0.3s;
    margin: 0px 2.5%;
    border-radius: 20px;
    border: 1px solid #e2e2e2;
    padding: 10px;
    outline: none;
    font-size: 17px;
}

.send-comment-form button {
    display: block;
    margin: 10px auto;
    padding: 12px 25px;
    outline: none;
    cursor: pointer;
    border: 2px solid #d40305;
    color: #d40305;
    font-size: 17px;
    background-color: #ffffff;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s all;
}

.send-comment-form button:hover {
    background-color: #d40305;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .send-comment-form {
        width: 100%;
        margin: 0px;
    }
    .send-comment-form-row,
    .send-comment-form-row input {
        width: 95%;
    }
}